<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COV-2019</title>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/world.js"></script>
    <link href="../static/css/hello.css" rel="stylesheet"/>
</head>
<body>

   <div id="title">疫情可视化数据分析系统</div>
   <div id="center">中间大图</div>
    <script src="../static/js/firstpage.js"></script>

   <script>
        function get_all_data() {
             $.ajax({
                url:"/center",
                success:function (data) {
                    firstpage_option.baseOption.series[0].data=data.data;
                    firstpage.setOption(firstpage_option)
                },
                error:function (xhr,type,errorThrown) {

                }
            })
        }
        get_all_data();
    </script>

</body>
</html>